.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #295943;
    padding-top: 50px;
}

.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    padding: 0 10px;
    gap: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
        
    @media screen and (min-width: 480px) {
        padding: 0 20px;
    }

    @media screen and (min-width: 768px) {
        padding: 0 25px;
    }

    @media screen and (min-width: 1024px) {
        padding: 0 50px;
    }

    @media screen and (min-width: 1280px) {
        padding: 0 50px;
    }
}

.footer_column {
    width: 100%;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    @media screen and (min-width: 1280px) {
       display: grid;
       grid-template-columns: 1fr 3fr;
    }
}
.column_a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    .footer_img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.column_b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 3fr 3fr 4fr;
    }
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;    
}

.column_h {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 19.2px;
    line-height: 180%;
    color: #FFFFFF;
    > ul {
        margin: 0; 
    }
}
.links_footer > a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer_img {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
ul {
    display: grid;
    grid-template-rows: auto;
    list-style: none;
    padding: 0;
    gap: 10px;
    margin: 0;
}
.kami {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 19.2px;
    line-height: 180%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    padding-bottom: 60px ;
}
