<main class="main">
    {{> test_analog}}
    {{> header_analog}}
    <div class="team">
        <div class="container">
            <div class="about_uss">About us</div>
        </div>
    </div>
    <div class="container">
        <div class="why">
            <div class="choose">
                <div id="us">Why Choose Us ?</div>
                <div>These popular destinations have a lot to offer</div>
            </div>
            <div class="triple_green_logo">
                <div class="green_logo_box">
                    <div class="img_center">
                        <img src="../img/tglthree.svg" alt="shield">
                    </div>
                    <div class="triple_green_text">
                        <div class="best">Best price guarantee</div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                    </div>
                </div>
                <div class="green_logo_box">
                    <div class="img_center">
                        <img src="../img/tgltwo.svg" alt="calendar">
                    </div>
                    <div class="triple_green_text">
                        <div class="best">Easy Booking</div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                    </div>
                </div>
                <div class="green_logo_box">
                    <div class="img_center">
                        <img src="../img/tglone.svg" alt="help">
                    </div>
                    <div class="triple_green_text">
                        <div class="best">Customer Service 24h</div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="figniayakas">
            <div class="podryjki">
                <div>
                    <div id="podryjki_h">About Travelaja.com</div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet dictum et in feugiat. Platea in diam, est congue. Posuere
                    sapien morbi augue ultrices. Et facilisi orci sollicitudin placerat lacus lacus nibh. Egestas semper massa viverra massa
                    proin in morbi placerat. Pharetra nec, est non integer nisi, ut faucibus. Non, in nam sollicitudin vitae volutpat ac
                    molestie. Turpis pellentesque sit pellentesque id cras lobortis tortor, blandit.</div>
                </div>
                <div>Id ac non, semper turpis maecenas. Convallis tempor fringilla quisque arcu, dictum. Vitae cursus vel netus tincidunt
                vitae. Malesuada velit, at mattis adipiscing quisque tristique id magna. Blandit porta sit nam magna sit. Turpis
                vestibulum facilisis placerat habitant gravida eget. Lacus pretium, arcu non adipiscing sed faucibus semper eget tempor.</div>
            </div>
            <div id="podryjki_img">
                <img src="../img/podryjki.png" alt="podryjki" id="photo_podrujki">
            </div>
        </div>
        <div class="our_team">
            <div class="our_team_h">
                <div>Our Teams</div>
                <div id="oth">Lorem ipsum dolor sit amet</div>
            </div>
            <div class="four_tm">
                <div class="four_t">
                    <div><img src="../img/perdun.png" alt="Perdana" class="four_img_t"></div>
                    <div>
                        <div>Agung perdana</div>
                        <div>Web Designer</div>
                    </div>
                </div>
                <div class="four_t">
                    <div><img src="../img/violaa.png" alt="viola" class="four_img_t"></div>
                    <div>
                        <div>Viola Resti</div>
                        <div>Marketing Director</div>
                    </div>
                </div>
                <div class="four_t">
                    <div><img src="../img/richaed.png" alt="richaed" class="four_img_t"></div>
                    <div>
                        <div>Rahardianysah</div>
                        <div>International Relations</div>
                    </div>
                </div>
                <div class="four_t">
                    <div><img src="../img/indus.png" alt="Rahadlukum" class="four_img_t"></div>
                    <div>
                        <div>Andika</div>
                        <div>Medical Check</div>
                    </div>
                </div>
                <div class="four_t">
                    <div><img src="../img/teresa.png" alt="teresa" class="four_img_t"></div>
                    <div>
                        <div>Theresa Russell</div>
                        <div>Doctor Assistant</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="four_svg">
            <div class="four_row">
                <a href="#"><img src="../img/island.svg" alt="island"></a>
            </div>
            <div class="four_row">
                <a href="#"><img src="../img/tour.svg" alt="city"></a>
            </div>
            <div class="four_row">
                <a href="#"><img src="../img/travel.svg" alt="travel"></a>
            </div>
            <div class="four_row">
                <a href="#"><img src="../img/world.svg" alt="world"></a>
            </div>
        </div>
    </div>
</main>
{{> footer}}