<main class="main">
    {{> test_analog}}
    {{> header_analog}}
    <div class="contact">
        <div class="container">
            <div class="contact_uss">Contact Us</div>
        </div>
    </div>
    <div class="container">
        <div class="final">
            <div class="final_left">
                <div class="final_text">
                    <div>Get in touch</div>
                    <div id="final_lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna
                    fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper
                    eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra</div>
                </div>
                <div class="final_frames">
                    <div class="block_fr">
                        <div>Name :</div>
                        <div class="frame">
                            <div class="text">
                                <div class="email">Input your name</div> 
                            </div>
                        </div>
                    </div>
                    <div class="block_fr">
                        <div>Email :</div>
                        <div class="frame">
                            <div class="text">
                                <div class="email">Email</div>
                            </div>
                        </div>
                    </div>
                    <div class="block_fr">
                        <div>Message :</div>
                        <div class="frame fig_frame">
                            
                        </div>
                    </div>
                    <button class="btn_final">
                        <div>Send</div>
                    </button>
                </div>
            </div>
            <div class="final_right">
                <div class="map_final">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7612.475569518376!2d30.518903108917108!3d50.45304059114486!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf7febd9996b%3A0x59bd3c32b7325c44!2z0JzRg9C30LXQuSDQnNC10LTRg9C3LCBNdXNldW0gb2YgSmVsbHlmaXNo!5e0!3m2!1sru!2sua!4v1675373947555!5m2!1sru!2sua"
                        width="600
                        " height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="tab_final">
                    <table class="table">
                        <tr>
                            <td>Address :</td>
                            <td>JL.Cindelaras No.205A</td>
                            <td>Phone :</td>
                            <td>+62 1234 432 567</td>
                        </tr>
                        <tr>
                            <td>City :</td>
                            <td>Yogyakarta, Indonesia</td>
                            <td>Email :</td>
                            <td>info@travelaja.com</td>
                        </tr>
                        <tr>
                            <td>Open :</td>
                            <td>At 8AM</td>
                            <td>Close :</td>
                            <td>At 8PM</td>
                        </tr>
                    </table>
                </div>
                <div class="last">
                    <div>AVAILABLE AT 9AM - 10PM</div>
                    <div id="number">+124 4537 9756</div>
                </div>
            </div>
        </div>
        
    </div>
</main>
{{> footer}}