  
<main class="main">
{{> test_analog}}
{{> header_analog}}
<div class="goru">
    <div class="container">
        <div class="goru_discover">Discover</div>
    </div>
</div>
<div class="container">
    <div class="disco">
        <div class="first_block">
            <div class="dmap">
                <div class="d_row">
                    <div id="d">
                        D
                    </div>
                    <div>iscover ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna
                    fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper
                    eget nulla facilisi.</div>
                </div>
                <div>
                    Enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris
                sit amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc
                sed augue lacus, viverra vitae congue eu, consequat ac felis donec et odio pellentesque diam volutpat commodo sed
                egestas egestas fringilla fau.
                </div>
            </div>
            <div>
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8793.137589055712!2d-119.52512575634526!3d56.566171192457766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53940987640d33a5%3A0x3fc4e2756ce34524!2z0JrQu9C40YAg0J_RgNC10LnRgNC4LCDQkNC70YzQsdC10YDRgtCwIFQwSCAzWTAsINCa0LDQvdCw0LTQsA!5e0!3m2!1sru!2sua!4v1674935353214!5m2!1sru!2sua"
                width="300" height="213" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="mapa"></iframe>
            </div>
        </div>

        <div class="second_block">
            <div class="second_block_left">
                <div class="memorable">
                    <div class="memorable_img">
                    </div>
                    <div class="memorable_text">
                        <div>Memorable festivals on bali beach</div>
                        <div class="tag_bali">
                            <div><img src="../img/green_tag.svg" alt="tag"></div>
                            <div>Bali, Indonesia</div>
                        </div>
                    </div>
                </div>
                <div class="second_block_text">
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet integer facilisis aliquet erat vitae viverra ornare.
                    Placerat urna integer nibh justo. Dictum vulputate odio mauris amet, dictumst molestie. Faucibus consectetur mauris
                    tristique dolor ut diam, adipiscing et. Semper mi proin malesuada orci phasellus. Consectetur posuere iaculis amet sem.
                    Euismod turpis pellentesque sit risus eu, sagittis nulla. Facilisis urna, mi pharetra sed.</div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet integer facilisis aliquet erat vitae viverra ornare.
                    Placerat urna integer nibh justo. Dictum vulputate odio mauris amet, dictumst molestie.</div>
                </div>
                <div class="second_block_doublepic">
                    <div class="double_pic_one"></div>
                    <div class="double_pic_two">1</div>
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet integer facilisis aliquet erat vitae viverra ornare.
                    Placerat urna integer nibh justo. Dictum vulputate odio mauris amet, dictumst molestie. Faucibus consectetur mauris
                    tristique dolor ut diam, adipiscing et. Semper mi proin malesuada orci phasellus. Consectetur posuere iaculis amet sem.
                    Euismod turpis pellentesque sit risus eu, sagittis nulla. Facilisis urna, mi pharetra sed.
                </div>
            </div>
            <div class="four_cards">
                <div class="four_cards_header_row">
                    <div>Other Destinations</div>
                    <div id="green_cards">See all</div>
                </div>
                <div class="plus_div">
                    <div class="cards inique">
                        <div class="beach">Wakatobi beach is a paradise for coral reets in indonesia</div>
                        <div class="indonesia">Yogyakarta, Indonesia</div>
                        <div class="cards_btn">
                            <a href="#">View More</a>
                        </div>
                    </div>
                    <div class="bulo_ne_bulo">
                        <div class="cards">
                            <div class="beach">Wakatobi beach is a paradise for coral reets in indonesia</div>
                            <div class="indonesia">Yogyakarta, Indonesia</div>
                            <div class="cards_btn">
                                <a href="#">View More</a>
                            </div>
                        </div>
                        <div class="cards">
                            <div class="beach">Wakatobi beach is a paradise for coral reets in indonesia</div>
                            <div class="indonesia">Yogyakarta, Indonesia</div>
                            <div class="cards_btn">
                                <a href="#">View More</a>
                            </div>
                        </div>
                        <div class="cards">
                            <div class="beach">Wakatobi beach is a paradise for coral reets in indonesia</div>
                            <div class="indonesia">Yogyakarta, Indonesia</div>
                            <div class="cards_btn">
                                <a href="#">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>


    </div>
   






</div>
</main>
{{> footer}}



