<div class="header">
        <div>
            <img src="../img/travelaja.svg" alt="tr">
        </div>
        <div class="navigation">
            <ul>
                <li class="navigator"><a href="../index.html">Home</a></li>
                <li class="navigator"><a href="../index_discover.html">Discover</a></li>
                <li class="navigator"><a href="../service.html">Services</a></li>
                <li class="navigator"><a href="../our_news.html">News</a></li>
                <li class="navigator"><a href="../about.html">About Us</a></li>
                <li class="navigator"><a href="../contact_us.html">Contact</a></li>
            </ul>
        </div>
        <div class="trio">
            <div class="flag"> 
                <div><img src="../img/red.svg" alt="red"></div>
                <div><img src="../img/vhite.svg" alt="white"></div>
            </div>
            <div>ID</div>
            <div class="galka">
                <img src="../img/galka.svg" alt="arrow" class="galka_svg">
            </div>
        </div>
</div>