<div class="header_dis">
        <div>
            <img src="../img/travelaja_green_logo.svg" alt="tr">
        </div>
        <div class="navigation_dis">
            <ul>
                <li class="navigator_dis"><a href="../index.html">Home</a></li>
                <li class="navigator_dis"><a href="../index_discover.html">Discover</a></li>
                <li class="navigator_dis"><a href="../service.html">Services</a></li>
                <li class="navigator_dis"><a href="../our_news.html">News</a></li>
                <li class="navigator_dis"><a href="../about.html">About Us</a></li>
                <li class="navigator_dis"><a href="../contact_us.html">Contact</a></li>
            </ul>
        </div>
        <div class="trio_dis">
            <div class="flag_dis"> 
                <div><img src="../img/red.svg" alt="red"></div>
                <div><img src="../img/vhite.svg" alt="white"></div>
            </div>
            <div>ID</div>
            <div class="galka_dis">
                <img src="../img/galka_green.svg" alt="arrow" class="galka_svg_dis">
            </div>
        </div>
</div>