<main class="main">
{{> test_analog}}
{{> header_analog}}
<div class="beachh">
    <div class="container">
        <div class="beach_news">News</div>
    </div>
</div>

<div class="container">
    <div class="news_trio">
        <div class="news_duet">
            <div id="news_header">
                Travelaja Articles
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam</div>
        </div>
        <div class="ul_news">
            <ul>
                <li><a href="#">Adventure Travel</a></li>
                <li><a href="#">Beach</a></li>
                <li><a href="#">Explore World</a></li>
                <li><a href="#">Family Holidays</a></li>
                <li><a href="#">Art and culture</a></li>
            </ul>
        </div>
    </div>
    <div class="nine">
        <div class="nine_box">
            <div class="nine_img">
                <a href="#"><img src="../img/fam.png" alt="fam" class="img_nine"></a>
            </div>
            <div>
                <div>where can i go? 5 amazing countries that are open right now</div>
                <div id="smock_data">September 19, 2022</div>
            </div>
        </div>
        <div class="nine_box">
            <div>
                <img src="../img/beatiful.png" alt="beautiful" class="img_nine">
            </div>
            <div>
                <div>beautiful view of indonesia's natural hills</div>
                <div id="smock_data">September 19, 2022</div>
            </div>
        </div>
        <div class="nine_box">
            <div>
                <img src="../img/ind.png" alt="ind" class="img_nine">
            </div>
            <div>
                <div>10 Indonesian Destinations you should visit in this year</div>
                <div id="smock_data">September 19, 2022</div>
            </div>
        </div>
        <div class="nine_box">
            <div>
                <img src="../img/palatka.png" alt="palatka" class="img_nine">
            </div>
            <div>
                <div>5 mountains that you must visit while in Indonesia</div>
                <div id="smock_data">September 19, 2022</div>
            </div>
        </div>
        <div class="nine_box">
            <div>
                <img src="../img/skidush.png" alt="pechera" class="img_nine">
            </div>
            <div>
                <div>the most interesting historical monuments in Indonesia</div>
                <div id="smock_data">September 19, 2022</div>
            </div>
        </div>
        <div class="nine_box">
            <div>
                <img src="../img/fristaylo.png" alt="ski" class="img_nine">
            </div>
            <div>
                <div>travel booking before missing the discount</div>
                <div id="smock_data">September 19, 2022</div>
            </div>
        </div>
        <div class="nine_box">
            <div><img src="../img/shar.png" alt="shar" class="img_nine"></div>
            <div>
                <div>10 Indonesian Destinations you should visit in this year</div>
                <div id="smock_data">September 19, 2022</div>
            </div>
        </div>
        <div class="nine_box">
            <div><img src="../img/villa.png" alt="villa" class="img_nine"></div>
            <div>
                <div>travel booking before missing the discount</div>
                <div id="smock_data">September 19, 2022</div>
            </div>
        </div>
        
        <div class="nine_box">
            <div><img src="../img/kanoe.png" alt="kanoe" class="img_nine gtc"></div>
            <div>
                <div>where can i go? 5 amazing countries that are open right now</div>
                <div id="smock_data">September 19, 2022</div>
            </div>
        </div>
    </div>




</div>
</main>
{{> footer}}