<div class="section_four">
    <div class="header_user">
        <div id="testimonial">Testimonial</div>
        <div>What they say about us</div>
    </div>
    <div class="six_box_users">
        <div class="box_rev_back">
            <div class="box_rev">
                <div class="box_rev_user">
                    <div class="avatar"><img src="../img/ang.png" alt="user_avatar"> </div>
                    <div>Angelina Simple</div>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</div>
            </div>
        </div>
        <div class="box_rev_back">
            <div class="box_rev">
                <div class="box_rev_user">
                    <div class="avatar"><img src="../img/viola.png" alt="user_avatar"> </div>
                    <div>Viola Natalie</div>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</div>
            </div>
        </div>
        <div class="box_rev_back">
            <div class="box_rev">
                <div class="box_rev_user">
                    <div class="avatar"><img src="../img/robert.png" alt="user_avatar"> </div>
                    <div>Robert John K.</div>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</div>
            </div>
        </div>
        <div class="box_rev_back">
            <div class="box_rev">
                <div class="box_rev_user">
                    <div class="avatar"><img src="../img/angi.png" alt="user_avatar"> </div>
                    <div>Anggi Nani</div>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</div>
            </div>
        </div>
        <div class="box_rev_back">
            <div class="box_rev">
                <div class="box_rev_user">
                    <div class="avatar"><img src="../img/graham.png" alt="user_avatar"> </div>
                    <div>Graham Suryo J</div>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</div>
            </div>
        </div>
        <div class="box_rev_back">
            <div class="box_rev">
                <div class="box_rev_user">
                    <div class="avatar"><img src="../img/bagas.png" alt="user_avatar"> </div>
                    <div>Bagas G Natfi</div>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</div>
            </div>
        </div>
    </div>
</div>