<div class="section_two">
    <div class="substract">
        <div id="kilimangaro">
            <img src="../img/kilimangaro.png" alt="kilimangaro" >
        </div>
        <div id="venzia">
            <img src="../img/venzia.png" alt="venzia" >
        </div>
        <div id="bridge">
            <img src="../img/bridge.png" alt="bridge" >
        </div>
    </div>
    <div class="text_home">
        <div class="point">
            <div id="point_header">Travelers Point</div>
            <div id="we_help">
                We help to find your dream place
            </div>
            <div id="point_lorem">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis,
                lectus magna
                fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla
                est
                ullamcorper
                eget nulla facilisi
            </div>
        </div>
        <div class="oh_plus">
            <div class="gap_for_numbers">
                <div class="green_numbers">100+</div>
                <div>Holiday Package</div>
            </div>
            <div class="gap_for_numbers">
                <div class="green_numbers">172</div>
                <div>Hotels</div>
            </div>
            <div class="gap_for_numbers">
                <div class="green_numbers">68</div>
                <div>Elite Transportation</div>
            </div>
            <div class="gap_for_numbers">
                <div class="green_numbers">32M+</div>
                <div>we help to find your dream place</div>
            </div>
        </div>
    </div>
</div>