<div class="section_three">
    <div class="section_three_header">
        <div id="destination">Top destination</div>
        <div>Discover your love</div>
    </div>
    <div class="six_blocks">
        <div class="blocks komodo">
            <div class="box_pic">
                <div><a href="#"><img src="../img/comodo.png" alt="komodo" class="img_six"></a></div>
                <div>Taman Nasional Komodo</div>
            </div>
            <div class="box_bottom">
                <div>Rp. 7,5jt</div>
                <div class="box-bottom-right">
                    <div><img src="../img/arrow.svg" alt="arrow"></div>
                    <div>7 days for trips</div>
                </div>
            </div>
        </div>
        <div class="blocks bunaken">
            <div class="box_pic">
                <div><a href="#"><img src="../img/bunaken.png" alt="bunaken" class="img_six"></a></div>
                <div>Taman Nasional Bunaken</div>
            </div>
            <div class="box_bottom">
                <div>Rp. 10,5jt</div>
                <div class="box-bottom-right">
                    <div><img src="../img/arrow.svg" alt="arrow"></div>
                    <div>9 days for trips</div>
                </div>
            </div>
        </div>
        <div class="blocks barat">
            <div class="box_pic">
                <div><a href="#"><img src="../img/barat.png" alt="barat" class="img_six"></a></div>
                <div>Raja Ampat, Papua Barat</div>
            </div>
            <div class="box_bottom">
                <div>Rp. 20,5jt</div>
                <div class="box-bottom-right">
                    <div><img src="../img/arrow.svg" alt="arrow"></div>
                    <div>14 days for trips</div>
                </div>
            </div>
        </div>
        <div class="blocks wakatobi">
            <div class="box_pic">
                <div><a href="#"><img src="../img/wakatobi.png" alt="wakatobi" class="img_six"></a></div>
                <div>Kepulauan Wakatobi</div>
            </div>
            <div class="box_bottom">
                <div>Rp. 9,5jt</div>
                <div class="box-bottom-right">
                    <div><img src="../img/arrow.svg" alt="arrow"></div>
                    <div>12 days for trips</div>
                </div>
            </div>
        </div>
        <div class="blocks lombok">
            <div class="box_pic">
                <div><a href="#"><img src="../img/lombok.png" alt="lombok" class="img_six"></a></div>
                <div>Gili Trawangan, Lombok</div>
            </div>
            <div class="box_bottom">
                <div>Rp. 6,5jt</div>
                <div class="box-bottom-right">
                    <div><img src="../img/arrow.svg" alt="arrow"></div>
                    <div>7 days for trips</div>
                </div>
            </div>
        </div>
       
        <div class="blocks bromo">
            <div class="box_pic">
                <div>
                    <a href="#"><img src="../img/bromo.png" alt="bromo" class="img_six"></a>
                </div>
                <div>Taman Nasional Bromo</div>
            </div>
            <div class="box_bottom">
                <div>Rp. 9,5jt</div>
                <div class="box-bottom-right">
                    <div><img src="../img/arrow.svg" alt="arrow"></div>
                    <div>7 days for trips</div>
                </div>
            </div>
        </div>
        
    </div>



</div>