<div class="section_one">
    <div class="container_one">
        <div class="explore">
            <div class="one">Explore the world with a smile</div>
            <div class="two">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aperiam animi ut porro laboriosam quibusdam?
                Molestiae ex quos soluta optio. Eligendi assumenda ipsum quae suscipit, et earum possimus in beatae!
            </div>
        </div>
        <div class="line">
            <div class="tag_svg">
                <div><img src="../img/tag.svg" alt="tag"></div>
                <div>City or Destination</div>
            </div>
            <div class="stripe">Date of stay</div>
            <div class="person">Person</div>
            <div class="btn">
                <div>Find Trip Now</div>
                <div><img src="../img/search.svg" alt=""></div>
            </div>
        </div>
        </div>
    </div>
</div>