<main class="main">
{{> test_analog}}
{{> header_analog}}
<div class="lake">
    <div class="container">
        <div class="lake_service">Service</div>
    </div>
</div>
<div class="container">
    <div class="grey_logo">
        <div class="logo_box">
            <div>
                <img src="../img/grltwo.svg" alt="logo">
            </div>
            <div class="bold">Get Best Price</div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus pellentesque. A cras suscipit amet
            </div>
            <div class="btn_service">
                <div>READ MORE</div>
            </div>
        </div>
        <div class="logo_box">
            <div>
                <img src="../img/grlfour.svg" alt="logo">
            </div>
            <div class="bold">All Destination</div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus pellentesque. A cras suscipit amet
            </div>
            <div class="btn_service">
                <div>READ MORE</div>
            </div>
        </div>
        <div class="logo_box">
            <div>
                <img src="../img/grlthree.svg" alt="logo">
            </div>
            <div class="bold">City Tours</div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus pellentesque. A cras suscipit amet
            </div>
            <div class="btn_service">
                <div>READ MORE</div>
            </div>
        </div>
        <div class="logo_box">
            <div>
                <img src= "../img/grlone.svg" alt="logo">
            </div>
            <div class="bold">Photography</div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus pellentesque. A cras suscipit amet
            </div>
            <div class="btn_service">
                <div>READ MORE</div>
            </div>
        </div>
    </div>
    <div class="three_cards">
        <div class="three_cards_back three_cards_back_one">
            
            <div class="water_city">
                <div class="water">Water City Dreams</div>
                <div class="september">September 18, 2022</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</div>
            </div>
            <div class="btn_three_cards">
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="three_cards_back three_cards_back_two">
            <div class="water_city">
                <div class="water">Water City Dreams</div>
                <div class="september">September 18, 2022</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</div>
            </div>
            <div class="btn_three_cards">
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="three_cards_back three_cards_back_three">
            <div class="water_city">
                <div class="water">Water City Dreams</div>
                <div class="september">September 18, 2022</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</div>
            </div>
            <div class="btn_three_cards">
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
</div>
    <div class="ven_back">
        <div class="container_ven">
            <div class="ven_back_l">
                <div id="facilities">facilities</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna
                fringilla urna, porttitor rhoncus dolor purus non enim luctus venenatis, lectus magna fringilla urna, porttitor rhoncus
                dolor purus non eni</div>
                <div class="btn_ven">
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="ven_back_r">
                <div class="free_cards">
                    <div class="ven_back_img">
                        <img src="../img/vennnn.svg" alt="Drinks">
                    </div>
                    <div class="ven_back_big">Drinks</div>
                    <div>INCLUDED</div>
                </div>
                <div class="free_cards">
                    <div class="ven_back_img">
                        <img src="../img/veno.svg" alt="Baby">
                    </div>
                    <div class="ven_back_big">Baby</div>
                    <div>FREE BUGGY</div>
                </div>
                <div class="free_cards">
                    <div class="ven_back_img">
                        <img src="../img/venos.svg" alt="Camp">
                    </div>
                    <div class="ven_back_big">Camp</div>
                    <div>INCLUDED</div>
                </div>
                <div class="free_cards">
                    <div class="ven_back_img">
                        <img src="../img/venoso.svg" alt="World">
                    </div>
                    <div class="ven_back_big">World</div>
                    <div>CUSTOM TOURS</div>
                </div>
            </div>
        </div>

    </div>
<div class="container">
    <div class="our_serice">
        <div class="our">
            <div id="benefits">BENEFITS</div>
            <div>OUR SERVICE</div>
        </div>
        <div class="six_box_service">
            <div class="box_sbc">
                <div>
                    <img src="../img/hike.svg" alt="hiking">
                </div>
                <div class="colomn_sbc">
                    <div>
                        <div id="sbc_head">Hiking</div>
                        <div>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis.</div>
                    </div>
                    <div class="btn_sbc">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="box_sbc">
                <div>
                    <img src="../img/stak.svg" alt="hiking">
                </div>
                <div class="colomn_sbc">
                    <div>
                        <div id="sbc_head">Staking</div>
                        <div>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci
                            ut et lobortis.</div>
                    </div>
                    <div class="btn_sbc">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="box_sbc">
                <div>
                    <img src="../img/klimb.svg" alt="hiking">
                </div>
                <div class="colomn_sbc">
                    <div>
                        <div id="sbc_head">Klimbing</div>
                        <div>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci
                            ut et lobortis.</div>
                    </div>
                    <div class="btn_sbc">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="box_sbc">
                <div>
                    <img src="../img/tours.svg" alt="hiking">
                </div>
                <div class="colomn_sbc">
                    <div>
                        <div id="sbc_head">Tours</div>
                        <div>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci
                            ut et lobortis.</div>
                    </div>
                    <div class="btn_sbc">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="box_sbc">
                <div>
                    <img src="../img/diving.svg" alt="hiking">
                </div>
                <div class="colomn_sbc">
                    <div>
                        <div id="sbc_head">Diving</div>
                        <div>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci
                            ut et lobortis.</div>
                    </div>
                    <div class="btn_sbc">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="box_sbc">
                <div>
                    <img src="../img/flying.svg" alt="hiking">
                </div>
                <div class="colomn_sbc">
                    <div>
                        <div id="sbc_head">Flying</div>
                        <div>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci
                            ut et lobortis.</div>
                    </div>
                    <div class="btn_sbc">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>
</main>

{{> footer}}