
<div class="test">

    <div class="topnav">
        
        <div class="active">
            <div class="trvl">
                <img src="../img/travelaja_green_logo.svg" alt="travelaja">
            </div>
            <div class="duet">
                <div class="triple">
                    <div class="poland">
                        <div>
                            <img src="../img/red.svg" alt="red">
                        </div>
                        <div>
                            <img src="../img/vhite.svg" alt="white">
                        </div>
                    </div>
                    <div class="id" style="color: #3D3E48;">ID</div>
                    <div class="strila">
                        <img src="../img/galka_green.svg" alt="arrow" class="galka_svg">
                    </div>
                </div>
                <div class="faka">
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
        </div>

        <div id="myLinks">
            <a href="../index.html">Home</a>
            <a href="../index_discover.html">Discover</a>
            <a href="../service.html">Services</a>
            <a href="../our_news.html">News</a>
            <a href="../about.html">About Us</a>
            <a href="../contact_us.html">Contact</a> 
        </div>

        <!-- <div class="faka">
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div> -->

    </div>
    
</div>

<script>
    function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>